.sp-dialog {
  width: 40px;
  height: 40px;
  background-position: -5px -5px;
}

.sp-doctor2 {
  width: 40px;
  height: 47px;
  background-position: -49px -55px;
}

.sp-house {
  width: 40px;
  height: 40px;
  background-position: -49px -112px;

}

.sp-marker {
  width: 40px;
  height: 40px;
  background-position: -5px -162px;
}

.sp-phone2 {
  width: 40px;
  height: 40px;
  background-position: -5px -212px;
}

.sp-signal {
  width: 40px;
  height: 40px;
  background-position: -49px -262px;
}

.sp-tablet {
  width: 40px;
  height: 40px;
  background-position: -49px -312px;
}
.sprite {
  background-image: url("../img/spritesheet2.png");
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sprite-car {
  width: 80px;
  height: 80px;
  background-position: -2px -2px;
}

.sprite-doctor {
  width: 80px;
  height: 80px;
  background-position: -4px -149px;
}

.sprite-tablet {
  width: 80px;
  height: 80px;
  background-position: -4px -300px;
}

.sprite-house {
  width: 80px;
  height: 80px;
  background-position: -4px -434px;
}