@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("../fonts/HelveticaNeueLTStd-Bd.otf");
}
@font-face {
  font-family: "Helvetica Neue Thin";
  src: url("../fonts/HelveticaNeueLTStd-Th.otf");
}
@font-face {
  font-family: "Helvetica Neue Roman";
  src: url("../fonts/HelveticaLTStd-Roman.otf");
}
$navColor: #666666;
$blueMotive: #28C4CD;
$secondaryText: #A7A7A7;
$yellow: #ffe800;
$pinky: #d93989;
$transparentMotive: rgba(0, 43, 129, 0.52);
$darkblue: #1c77ae;
$helveticaBold: "Helvetica Neue Bold";
$helveticaThin: "Helvetica Neue Thin";
$helveticaRoman: "Helvetica Neue Roman";